<div class="container">
    <!-- Filters Section -->
    <div class="filters" fxFlex="30">
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select [(value)]="selectedGender" (selectionChange)="setGender(selectedGender)">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Nationality</mat-label>
        <mat-select [(value)]="selectedNationality" (selectionChange)="setNationality(selectedNationality)" multiple>
          <mat-option value="de">Gurmany</mat-option>
          <mat-option value="uk">United Kingdom</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="applyFilters()">Apply Filters</button>
    </div>
  
    <div class="content-container">
    <!-- User List Section -->
    <div class="left-side" fxFlex="70">
        <div *ngFor="let user of users" (click)="onSelectUser(user)">
          {{ user.name.title }} {{ user.name.first }} {{ user.name.last }}
        </div>
  
        <mat-paginator  [length]="60"
                [pageSize]="10"
                (page)="onPageChange($event.pageIndex)"
                aria-label="Select page">
        </mat-paginator>
      </div>
    
      <!-- Right Side -->
      <div class="right-side">
        <div *ngIf="selectedUser" class="user-details">
          <h2>User Details</h2>
          <img [src]="selectedUser.picture.large" alt="User Picture" style="max-width: 100%; border-radius: 8px; margin-top: 10px;">
  
          <p><strong>Name:</strong> {{ selectedUser.name.title }} {{ selectedUser.name.first }} {{ selectedUser.name.last }}</p>
          <p><strong>Email:</strong> {{ selectedUser.email }}</p>
          <p><strong>Location:</strong> {{ selectedUser.location.city }}, {{ selectedUser.location.state }}, {{ selectedUser.location.country }}</p>
          <p><strong>Gender:</strong> {{ selectedUser.gender }}</p>
          <p><strong>Date of Birth:</strong> {{ selectedUser.dob.date | date }}</p>
          <p><strong>Registered:</strong> {{ selectedUser.registered.date | date }}</p>
          <p><strong>Phone:</strong> {{ selectedUser.phone }}</p>
          <p><strong>Cell:</strong> {{ selectedUser.cell }}</p>
          <p><strong>Nationality:</strong> {{ selectedUser.nat }}</p>
        </div>
      </div>
    </div>
    </div>
  